src/main/resources/xsd/TokenRS.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:element name="UserResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Status" type="xsd:string" />
                <xsd:element name="Message" type="xsd:string" />
                <xsd:element name="UserId" type="xsd:string" />
                <xsd:element name="Token" type="xsd:string" />
                <xsd:element name="ExpiresIn" type="xsd:dateTime" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xs:schema>